<% content_for :head do %>
  <title>Reset password - Goods Square</title>
  <meta name="description" content="メール認証後のパスワードリセットページ。">
<% end %>

<div class="box">
  <div class="box-title" align="center">Reset password</div>
    <div class="box-inner">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= hidden_field_tag :email, @user.email %>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="submit-group" align="center">
          <%= f.submit "Update password", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
