<% content_for :head do %>
  <title><%= user.name %> - Let's use</title>
  <meta name="description" content="<%= user.name %>のモノページ。
    <%= user.name %>の欲しいモノや持っているモノの一覧を表示しています。">
<% end %>

<%= render 'profile' , user: @user %>

<%= render 'items/list' , items: @items %>
