<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        掲示板一覧
      </div>
      <div class="panel-body">
        <p>関連商品、タイトル、投稿者、お気に入りボタン、削除ボタンを表示します。</p>
        <p>各項目をクリックする事で、該当ページに移行します。</p>
      </div>
      <div class="table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th>関連商品</th>
              <th>Title</th>
              <th>投稿者</th>
              <th>投稿数</th>
              <th>お気に入り登録数</th>
              <th>お気に入りボタン</th>
              <th>削除ボタン</th>
            </tr>
          </thead>
          <tbody>
            <% message_boards.each do |message_board| %>
                <tr>
                  <% if message_board.item %>
                    <td><%= link_to message_board.item.title[0,20], message_board.item, class: "btn btn-sm btn-primary", style: "color: #fff;" %></td>
                  <% else %>
                    <td><%= link_to "雑談" , '#', class: "btn btn-success btn-sm" %></td>
                  <% end %>
                  <td><%= link_to message_board.title, message_board, class: "btn btn-sm btn-info" ,style: "color: #fff;" %></td>
                  <td><%= link_to message_board.user.name, message_board.user, class: "btn btn-sm btn-default" , style: "background: #000; color: #fff;" %></td>
                  <td style="font-size: 20px;"><%= message_board.messages.count %></td>
                  <td style="font-size: 20px;"><%= message_board.favorites.count %></td>
                  <% if current_user == message_board.user %>
                    <td></td>
                  <% else %>
                    <td><%= render 'shared/favorite_form', message_board: message_board %></td>
                  <% end %>
                  <% if current_user == message_board.user %>
                    <td><%= link_to "delete", message_board, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %></td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
