<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="row" align="center">
      <% unless @items.empty? %>
        <% i = 0 %>
        <% @items.each do |item| %>
          <div class="row" style="margin: 80px 0;">
            <div class="col-md-2 col-md-offset-1">
              <h2 style="margin: 0;"><%= i+=1 %> 位</h2>
            </div>
            <div class="col-md-8" style="margin-left: 0; padding-left: 0;">
              <div class="row">
                <div id=image-<%= i %>>
                  <% unless item.large_image == nil %>
                    <%= link_to image_tag(item.large_image, alt: item.title), item_url(id: item.id) %>
                  <% else %>
                    <%= link_to image_tag('no-image.png', alt: item.title), item_url(id: item.id) %>
                  <% end %>
                </div>
                <h3><%= item.title %></h3>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        <% end %>
      <% else %>
        <div align="center">
          <h2>No Items!!</h2>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
