<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= yield :head %>
    <% else %>
      <title>Let's use!!</title>
    <% end %>
    <title>Refactoring</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <%= render 'layouts/header' %>
    
    <div class="alert alert-info", align="center">
      <%= notice if notice %>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>", align="center">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
